body {
  font-family: "Georgia", serif;
  background-color: #f5f5f5;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin: 0;
  padding: 1em;
  color: #222;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #555;
  text-align: center;
  margin-bottom: 1em;
}

button {
  display: block;
  margin: 0 auto;
  padding: 1em 2em;
  font-size: 1.2em;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #555;
}
